.DS_Store
.gradle
.classpath
.project
.settings
.yardoc
.yardopts
bin/
build/
db/
target/
project/
test-output/
lib/*.jar
Scratch.java
ScratchTest.java
test-results/
test-tmp/
*.class
*.swp
*.iml
*.ipr
*.iws
*.jnl
.nb-gradle/
/.nb-gradle/private/
